[submodule "Argonne2019/reveal.js"]
	path = Argonne2019/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "template/reveal.js"]
	path = template/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "SantaCruz2019/reveal.js"]
	path = SantaCruz2019/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Seattle2019/reveal.js"]
	path = Seattle2019/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "YuGroup2019/reveal.js"]
	path = YuGroup2019/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Ringberg2019/reveal.js"]
	path = Ringberg2019/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Cosmostat2019/reveal.js"]
	path = Cosmostat2019/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "BlendingUpdate2020/reveal.js"]
	path = BlendingUpdate2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Argonne2019b/reveal.js"]
	path = Argonne2019b/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "ICLR2020/reveal.js"]
	path = FSAI2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "LIneA2020/reveal.js"]
	path = LIneA2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "GalSimHub2020/reveal.js"]
	path = Lanusse2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "CMU2020/reveal.js"]
	path = CMU2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "BASE2020/reveal.js"]
	path = BASE2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Saclay2020/reveal.js"]
	path = Saclay2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Oxford2020/reveal.js"]
	path = Oxford2020/reveal.js
	url = https://github.com/EiffL/reveal.js.git
